.container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.mainInfoContainer {
  display: flex;
  flex-direction: row;
}

.professionalExperienceContainer {
  display: flex;
  flex-grow: 1;
}

.extraInfoContainer {
  display: flex;
  min-width: 204px;
}