.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

  .lang {
    color: var(--primary-body-color);
    font-weight: 700;
    margin-right: 0.3rem;
  }

  .level {
    color: var(--light-body-color);
    font-size: 0.9rem;
  }
}