@import "styles/constants.scss";

.listContainer {
  margin-bottom: 1rem;
  padding-left: 40px;

  @media screen and (max-width: $breakpoint-md) {
    padding-left: 20px;
  }

  .listItem {
    color: var(--light-body-color);
    line-height: 1.5;
  }
}